---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace cnpg

resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/main/docs/src/samples/monitoring/prometheusrule.yaml

helmCharts:
  - name: cloudnative-pg
    releaseName: cnpg
    namespace: *namespace
    repo: oci://ghcr.io/cloudnative-pg/charts
    version: 0.26.1
    valuesFile: values.yaml
