#jinja2:lstrip_blocks: True
{% if item.https is defined %}
  {% with backends=item.https, https=true %}
    {% include "site_block.j2" %}
  {% endwith %}
{% endif %}

{% if item.http is defined %}
  {% with backends=item.http, https=false %}
    {% include "site_block.j2" %}
  {% endwith %}
{% endif %}
