---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace actualbudget

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_volsync.yaml

helmCharts:
  - name: actualbudget
    releaseName: actualbudget
    namespace: *namespace
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    version: 1.10.0
    valuesFile: values.yaml
