---
postgresql_dbs:
  - name: pdns
    user:
    password:
powerdns_authoritative_pgsql_user:
powerdns_authoritative_pgsql_password:
powerdns_authoritative_pgsql_db:
powerdns_authoritative_tsig_keys:
