---
postgresql_dbs:
  - name: pdns
    user:
    password:
powerdns_authoritative_pgsql_user:
powerdns_authoritative_pgsql_password:
powerdns_authoritative_pgsql_db:
powerdns_authoritative_api_key:
powerdns_authoritative_webserver_password:
powerdns_recursor_webserver_password:
dnsdist_api_key: