---
public_ipv4:
grub_user:
grub_password:
admin_email:
ca_private_passphrase:
monitoring_email:
self_signed_cert_pdns:
powerdns_authoritative_api_key:
powerdns_authoritative_webserver_password:
powerdns_recursor_webserver_password:
dnsdist_api_key:
vault_unseal_keys:
caddy_metrics_basic_auth:
  username:
  password: