---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace jellyfin

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_pvc.yaml
  - manifests/03_volsync.yaml

helmCharts:
  - name: jellyfin
    releaseName: jellyfin
    namespace: *namespace
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    version: 2.1.3
    valuesFile: values.yaml
