#jinja2: lstrip_blocks: "True"
---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager-scaleway
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager-scaleway-vault
  namespace: cert-manager-scaleway
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: cert-manager-scaleway
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "cert-manager-scaleway"
          serviceAccountRef:
            name: "cert-manager-scaleway-vault"
      caProvider:
        type: "ConfigMap"
        # https://github.com/external-secrets/external-secrets/issues/1024
        namespace: cert-manager-scaleway
        name: "{{ cert_manager_scaleway_vault_ca }}"
        key: "ca.crt"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cert-manager-scaleway-secret
  namespace: cert-manager-scaleway
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: SCW_ACCESS_KEY
      remoteRef:
        key: {{ cert_manager_scaleway_vault_secret_key }}
        property: SCW_ACCESS_KEY
    - secretKey: SCW_SECRET_KEY
      remoteRef:
        key: {{ cert_manager_scaleway_vault_secret_key }}
        property: SCW_SECRET_KEY