---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace kube-prometheus-stack

resources:
  - manifests/01_endpoints.yaml

helmCharts:
- name: kube-prometheus-stack
  releaseName: kube-prometheus-stack
  namespace: *namespace
  repo: oci://ghcr.io/prometheus-community/charts
  version: 72.9.1
  valuesFile: values.yaml
