---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-cluster-openbao
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/secretstore_v1.json
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "https://openbao.openbao.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "rook-ceph-cluster"
          serviceAccountRef:
            name: "rook-ceph-cluster-openbao"
      caProvider:
        type: "ConfigMap"
        name: "homelab-ca"
        key: "ca.crt"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-ceph-dashboard-password
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Merge"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/rook-ceph-cluster
        property: DASHBOARD_PASSWORD
