# ide
.idea
# python
venv
*.egg-info
# packer
packer_cache/
downloaded_iso_path/
# terraform
.terraform*
.terragrunt-cache
terragrunt-debug*
terraform/build
terraform/account.hcl
*.tfstate
*.tfstate.backup
# ansible
.vault_password.txt
vault.json.secrets
*secrets.yml
*secrets.yaml
*.csr*
*.p12*
*.key*
*.pem*
*.img
inventory.proxmox.yml
# Doc
.cache
# argocd
argocd/**/charts/
# flatcar
flatcar/.env
flatcar/*.ign
flatcar/generated/*
flatcar/output/*
