# ide
.idea
# python
venv
*.egg-info
# ansible
.vault_password.txt
vault.json.secrets
*secrets.yml
*secrets.yaml
*.csr*
*.p12*
*.key*
*.pem*
*.img
# Doc
.cache
# flatcar
flatcar/.env
flatcar/*.ign
flatcar/generated/*
flatcar/output/*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
