---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace ingress-external

resources:
  - manifests/01_service.yaml
  - manifests/02_security_headers.yaml

helmCharts:
  - name: traefik
    releaseName: ingress-external
    namespace: *namespace
    repo: oci://ghcr.io/traefik/helm
    version: 37.4.0
    valuesFile: values.yaml
