---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace external-secrets

resources:
  - manifests/01_prometheus_rule.yaml

helmCharts:
  - name: external-secrets
    releaseName: external-secrets
    namespace: *namespace
    repo: oci://ghcr.io/external-secrets/charts
    version: 0.20.1
    valuesFile: values.yaml
