---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace prowlarr

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_configmap.yaml
  - manifests/03_postgres.yaml
  - manifests/04_volsync.yaml

helmCharts:
  - name: prowlarr
    releaseName: prowlarr
    namespace: *namespace
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    version: 3.2.0
    valuesFile: values.yaml
