---
podAnnotations:
  reloader.stakater.com/auto: "true"

strategy:
  type: RollingUpdate

config:
  persistence:
    enabled: false

extraEnvFrom:
  - configMapRef:
      name: prowlarr
  - secretRef:
      name: prowlarr-openbao
