apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manifests/01_endpoints.yaml

helmCharts:
- name: kube-prometheus-stack
  releaseName: kube-prometheus-stack
  namespace: kube-prometheus-stack
  repo: https://prometheus-community.github.io/helm-charts
  version: 55.8.1
  valuesFile: values.yaml
