name = "{{ item.name }}"

repositories = {{ item.repositories | to_nice_json }} 

[environment]
RESTIC_PASSWORD = "{{ item.restic_password }}"
{%for k, v in item.envs.items() %}
{{ k }} = "{{v}}"
{% endfor %}

[execution]
parallel = true
retry_count = 5
retry_backoff = "1:00 exponential"

[backup]
sources = {{ item.sources | to_nice_json }} 

pre_hooks = {{ item.pre_hooks | to_nice_json }} 
post_hooks = {{ item.post_hooks | to_nice_json }} 

[prune]
keep-last = 3
keep-daily = 7
keep-weekly = 4
keep-monthly = 6
group-by = "host,paths"

[check]
checks = ["read-data"]
