---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 1h
  values:
    global:
      podAnnotations:
        reloader.stakater.com/auto: "true"

      envFrom:
        - configMapRef:
            name: authentik
        - secretRef:
            name: authentik-openbao
      volumes:
        - name: &volume-ca ca-certs
          configMap:
            name: homelab-ca
      volumeMounts:
        - name: *volume-ca
          mountPath: /etc/ssl/certs/homelab.crt
          subPath: ca.crt
          readOnly: true
    redis:
      enabled: true
    server:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      volumes:
        - name: &volume-images images
          configMap:
            name: authentik-images
      volumeMounts:
        - name: *volume-images
          mountPath: /media/public/unicornafk.svg
          subPath: unicornafk.svg
          readOnly: true
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: "vault"
          cert-manager.io/private-key-algorithm: "RSA"
          cert-manager.io/private-key-size: "4096"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/name: Authentik
          gethomepage.dev/description: Identity Provider
          gethomepage.dev/icon: authentik.png
        hosts:
          - &host sso.unicornafk.fr
        paths:
          - /
        pathType: ImplementationSpecific
        tls:
          - hosts:
              - *host
            secretName: sso.unicornafk.fr-tls
        ingressClassName: ingress-internal
    prometheus:
      rules:
        enabled: true
