---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace qbittorrent

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_configmap.yaml
  - manifests/03_pvc.yaml

helmCharts:
- name: qbittorrent
  releaseName: qbittorrent
  namespace: *namespace
  repo: oci://ghcr.io/m0nsterrr/helm-charts
  version: 5.1.1
  valuesFile: values.yaml
