[Unit]
Description=runrestic backup on %I
After=network-online.target

[Service]
Type=oneshot
User=runrestic
Group=runrestic
ExecStartPre=/opt/runrestic/venv/bin/python /opt/runrestic/init_repo.py -c /etc/runrestic/%I.toml
ExecStart=/opt/runrestic/venv/bin/runrestic -c /etc/runrestic/%I.toml --show-progress 20

[Install]
WantedBy=multi-user.target