---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace as212510-net

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_configmap.yaml

helmCharts:
  - name: as212510-net
    releaseName: as212510-net
    namespace: *namespace
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    version: 3.0.0
    valuesFile: values.yaml
