---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace stirling-pdf

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_configmap.yaml

helmCharts:
  - name: stirling-pdf-chart
    releaseName: stirling-pdf
    namespace: *namespace
    repo: https://stirling-tools.github.io/Stirling-PDF-chart
    version: 2.2.0
    valuesFile: values.yaml
