---
podAnnotations:
  reloader.stakater.com/auto: "true"

envsFrom:
  - configMapRef:
      name: stirling-pdf
  - secretRef:
      name: stirling-pdf-openbao

service:
  ipFamilyPolicy: "PreferDualStack"

serviceMonitor:
  enabled: true

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "vault"
    cert-manager.io/private-key-algorithm: "RSA"
    cert-manager.io/private-key-size: "4096"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Other
    gethomepage.dev/name: Stirling-PDF
    gethomepage.dev/description: PDF Manager
  hosts:
    - name: pdf.unicornafk.fr
      path: /
      tls: true
      tlsSecret: pdf.unicornafk.fr-tls
  ingressClassName: ingress-internal
