---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: sonarr-cluster
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:17.7@sha256:13765b73f70e7859e800e62c534255b7514ca315e74d95af001bc13d003a632f

  primaryUpdateStrategy: unsupervised
  instances: 1
  enablePDB: false

  enableSuperuserAccess: false

  storage:
    size: 2Gi
    pvcTemplate:
      dataSourceRef:
        apiGroup: volsync.backube
        kind: ReplicationDestination
        name: db-restore

  bootstrap:
    initdb:
      database: sonarr
      owner: sonarr
      secret:
        name: postgres-vault
      dataChecksums: true
      encoding: UTF8

  monitoring:
    enablePodMonitor: true
