---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace prometheus-blackbox-exporter

resources:
  - manifests/01_service_monitor.yaml

helmCharts:
  - name: prometheus-blackbox-exporter
    releaseName: prometheus-blackbox-exporter
    namespace: *namespace
    repo: oci://ghcr.io/prometheus-community/charts
    version: 11.4.2
    valuesFile: values.yaml
