{
  "name": "{{ item }}.",
	"kind": "{% if inventory_hostname == ansible_play_hosts_all[0] %}Master{% else %}Slave{% endif %}",
	{% if inventory_hostname != ansible_play_hosts_all[0] %}"masters": ["{{ hostvars[ansible_play_hosts_all[0]].hostname }}"],{% endif %}
	"dnssec": true,
	"soa-edit": "INCEPTION-INCREMENT",
  "{% if inventory_hostname == ansible_play_hosts_all[0] %}master_tsig_key_ids{% else %}slave_tsig_key_ids{% endif %}": [
    {% for tsig_key in powerdns_authoritative_tsig_keys %}
    "{{ tsig_key.name }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]{% if inventory_hostname == ansible_play_hosts_all[0] %},
  "nameservers": [
    {% for host in ansible_play_hosts_all %}
    "{{ hostvars[host].hostname }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "rrsets": [
    {
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        {% for host in ansible_play_hosts_all %}
        { "content": "{{ hostvars[host].hostname }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "NS"
    }{% if powerdns_authoritative_caa | length %},
    {
      "name": "{{ item }}.",
      "changetype": "REPLACE",
      "records": [
        {% for host in powerdns_authoritative_caa %}
        { "content": "0 issuewild \"{{ host.caa }}\"", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "CAA"
    }{% endif %}{% for host in powerdns_authoritative_records %}{% if host.a is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        {% for a in host.a %}
        { "content": "{{ a }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "A"
    }{% endif %}{% if host.aaaa is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        {% for aaaa in host.aaaa %}
        { "content": "{{ aaaa }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "AAAA"
    }{% endif %}{% if host.sshfp is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
      "records": [
        {% for sshfp in host.sshfp %}
        { "content": "{{ sshfp.algorithm }} {{ sshfp.type }} {{ sshfp.fingerprint }}", "disabled": false }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "ttl": "3600",
      "type": "SSHFP"
    }{% endif %}{% if host.cname is defined and item in host.hostname %},
    {
      "name": "{{ host.hostname }}",
      "changetype": "REPLACE",
        "records": [
          { "content": "{{ host.cname }}", "disabled": false }
        ],
        "ttl": 3600,
        "type": "CNAME"
    }{% endif %}{% if host.rdns is defined and host.a is defined and item in host.a|ansible.utils.ipaddr("revdns") %},
    {
      "name": "{{ host.a|ansible.utils.ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% if host.rdns is defined and host.aaaa is defined and item in host.aaaa|ansible.utils.ipaddr("revdns") %},
    {
      "name": "{{ host.aaaa|ansible.utils.ipaddr('revdns') }}",
      "changetype": "REPLACE",
      "records": [
        { "content": "{{ host.hostname }}", "disabled": false }
      ],
      "ttl": "3600",
      "type": "PTR"
    }{% endif %}{% endfor %}
  ]{% endif %}
}