setgid=pdns
setuid=pdns
query-local-address={{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) }}, {{ ansible_default_ipv6.address | default(ansible_all_ipv6_addresses[0]) }}
local-address=127.0.0.1, ::1
local-port=5300
launch=gpgsql
gpgsql-host=/run/postgresql
gpgsql-user={{ powerdns_authoritative_pgsql_user }}
gpgsql-password={{ powerdns_authoritative_pgsql_password }}
gpgsql-dbname={{ powerdns_authoritative_pgsql_db }}
gpgsql-dnssec=yes
api=yes
api-key={{ powerdns_authoritative_api_key }}
webserver=yes
webserver-address=127.0.0.1
webserver-password={{ powerdns_authoritative_webserver_password }}
webserver-port=8081
webserver-allow-from=127.0.0.1
version-string=anonymous
