{
	"name": "{{ item }}.",
	"kind": "{% if inventory_hostname == ansible_play_hosts_all[0] %}Master{% else %}Slave{% endif %}",
	{% if inventory_hostname != ansible_play_hosts_all[0] %}"masters": ["{{ hostvars[ansible_play_hosts_all[0]].ansible_default_ipv4.address | default(hostvars[ansible_play_hosts_all[0]].ansible_all_ipv4_addresses[0]) }}", "{{ hostvars[ansible_play_hosts_all[0]].ansible_default_ipv6.address | default(hostvars[ansible_play_hosts_all[0]].ansible_all_ipv6_addresses[0]) }}"],{% endif %}
	"dnssec": true,
	"presigned": true,
	"soa_edit_api" : "EPOCH",
	"rrsets": [
		{
			"name": "{{ item }}.",
			"records": [
				{ "content": "{{ hostvars[ansible_play_hosts_all[0]].hostname }} {{ powerdns_authoritative_rname }} 1000 10800 3600 604800 3600", "disabled": false }
			],
			"ttl": "3600",
			"type": "SOA"
		}
	]
}
