service:
  ipDualStack:
    enabled: true
podAnnotations:
  reloader.stakater.com/auto: "true"
extraArgs:
  - "--config.file=/run/secrets/snmp-exporter/snmp.yaml"
extraSecretMounts:
  - name: prometheus-snmp-exporter-openbao
    mountPath: /run/secrets/snmp-exporter/snmp.yaml
    subPath: snmp.yaml
    secretName: prometheus-snmp-exporter-openbao
    readOnly: true
