---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace cert-manager

resources:
  - manifests/01_prometheus_rule.yaml
  - manifests/02_vault_cluster_issuer.yaml

helmCharts:
- name: cert-manager
  releaseName: cert-manager
  namespace: *namespace
  repo: https://charts.jetstack.io
  version: v1.17.3
  valuesFile: values.yaml
