---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  chartRef:
    kind: OCIRepository
    name: flux-instance
  interval: 1h
  values:
    instance:
      distribution:
        artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.33.0
        version: 2.x
      cluster:
        networkPolicy: false
      sync:
        kind: GitRepository
        url: https://github.com/m0nsterrr/homelabv3-infra.git
        ref: refs/heads/main
        path: kubernetes/flux/cluster
      kustomize:
        patches:
          - # Git commit verification https://fluxcd.io/flux/components/source/gitrepositories/#verification
            patch: |-
              - op: add
                path: /spec/verify
                value:
                  mode: HEAD
                  secretRef:
                    name: pgp-public-keys
          - # Increase the number of workers https://fluxcd.io/flux/installation/configuration/vertical-scaling/#increase-the-number-of-workers-and-limits
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --concurrent=10
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --requeue-dependency=5s
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Increase the memory limits
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: all
              spec:
                template:
                  spec:
                    containers:
                      - name: manager
                        resources:
                          limits:
                            memory: 1Gi
            target:
              kind: Deployment
              name: (kustomize-controller|helm-controller|source-controller)
          - # Enable in-memory kustomize builds https://fluxcd.io/flux/installation/configuration/vertical-scaling/#enable-in-memory-kustomize-builds
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --concurrent=20
              - op: replace
                path: /spec/template/spec/volumes/0
                value:
                  name: temp
                  emptyDir:
                    medium: Memory
            target:
              kind: Deployment
              name: kustomize-controller
          - # Enable Helm repositories caching https://fluxcd.io/flux/installation/configuration/vertical-scaling/#enable-helm-repositories-caching
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-max-size=10
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-ttl=60m
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --helm-cache-purge-interval=5m
            target:
              kind: Deployment
              name: source-controller
          - # Flux near OOM detection for Helm https://fluxcd.io/flux/installation/configuration/helm-oom-detection/
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=OOMWatch=true
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-memory-threshold=95
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --oom-watch-interval=500ms
            target:
              kind: Deployment
              name: helm-controller
          - # Disable chart digest tracking https://github.com/fluxcd/helm-controller/pull/1212
            patch: |
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=DisableChartDigestTracking=true
            target:
              kind: Deployment
              name: helm-controller
          - # Watch configmaps and secrets attached to HelmReleases and Kustomizations https://github.com/fluxcd/helm-controller/issues/1086
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --watch-configs-label-selector=owner!=helm
            target:
              kind: Deployment
              name: (helm-controller|kustomize-controller)
          - # Cancel health checks on new Kustomizations revisions
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/args/-
                value: --feature-gates=CancelHealthCheckOnNewRevision=true
            target:
              kind: Deployment
              name: kustomize-controller
