---
podAnnotations:
  reloader.stakater.com/auto: "true"

extraEnvFrom:
  - configMapRef:
      name: jellyseerr
  - secretRef:
      name: jellyseerr-vault

config:
  persistence:
    volumeName: jellyseerr-chart-config

volumes:
  - name: &volume-ca ca-certs
    configMap:
      name: homelab-ca
volumeMounts:
  - name: *volume-ca
    mountPath: /etc/ssl/certs/homelab.crt
    subPath: ca.crt
    readOnly: true

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "vault"
    cert-manager.io/private-key-algorithm: "RSA"
    cert-manager.io/private-key-size: "4096"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Media
    gethomepage.dev/name: Jellyseerr
    gethomepage.dev/description: Media System
    gethomepage.dev/icon: jellyseerr.png
  hosts:
    - host: &host jellyseerr.unicornafk.fr
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - *host
      secretName: jellyseerr.unicornafk.fr-tls
  ingressClassName: ingress-internal
