[Unit]
Description=vault
After=network-online.target

[Service]
Type=notify
User=vault
Group=vault
ExecStart=/usr/bin/vault server -config=/etc/vault.d/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
LimitNOFILE=65536
LimitMEMLOCK=infinity
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
