---
# runrestic_version:
runrestic_package_state: latest
# renovate: datasource=github-releases depName=restic/restic
runrestic_restic_version: v0.18.1
runrestic_force_install: true
runrestic_systemd_calendar: "*-*-* 0:00:00"
runrestic_backup: []
runrestic_acl_files: []
runrestic_allowed_command: []

# runrestic_backup:
#   - name: Postgres backup
#     config_name: postgres_backup
#     restic_password: "password"
#     envs:
#       AWS_ACCESS_KEY_ID: "key"
#       AWS_SECRET_ACCESS_KEY: "password"
#     repositories:
#       - /tmp/restic-repo1
#     sources:
#       - /etc/postgresql
#     pre_hooks:
#       - systemctl stop postgresql
#     post_hooks:
#       - systemctl start postgresql
# runrestic_acl_files:
#   - /etc/postgresql
#   - /var/postgresql/db.sql
# runrestic_allowed_command:
#   - /bin/systemctl stop postgresql
#   - /bin/systemctl start postgresql
