cluster_name = "{{ vault_cluster_name }}"
api_addr = "https://{{ inventory_hostname }}:8200"
cluster_addr = "https://{{ inventory_hostname }}:8201"

storage "raft" {
    path = "/var/vault/raft"
    node_id = "{{ inventory_hostname }}"
    performance_multiplier = 1
    retry_join = [
        {% for vault in groups[vault_group] | difference([inventory_hostname]) %}
        {
            leader_api_addr = "https://"{{ hostvars[vault].hostname }}":8200"
            leader_ca_cert_file = "{{ vault_ca_filename }}"
            leader_client_cert_file = "{{ vault_cert_filename }}"
            leader_client_key_file = "{{ vault_key_filename }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}

disable_mlock = true

listener "tcp" {
    address     = "0.0.0.0:8200"
    cluster_address     = "0.0.0.0:8201"
    tls_client_ca_file = "{{ vault_ca_filename }}"
    tls_cert_file = "{{ vault_cert_filename }}"
    tls_key_file = "{{ vault_key_filename }}"
    tls_require_and_verify_client_cert = "true"
}

listener "tcp" {
    address     = "[::]:8200"
    cluster_address     = "[::]:8201"
    tls_client_ca_file = "{{ vault_ca_filename }}"
    tls_cert_file = "{{ vault_cert_filename }}"
    tls_key_file = "{{ vault_key_filename }}"
    tls_require_and_verify_client_cert = "true"
}

telemetry {
    prometheus_retention_time = "30s"
    disable_hostname = true
}