apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: vault-server-tls
    namespace: vault
data:
    ca.crt: "{{ lookup('ansible.builtin.file', vault_ca_filename) | b64encode }}"
    vault.crt: "{{ lookup('ansible.builtin.file', vault_cert_filename) | b64encode }}"
    vault.key: "{{ lookup('ansible.builtin.file', vault_key_filename) | b64encode }}"
