---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace recyclarr

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_configmap.yaml

helmCharts:
  - name: recyclarr
    releaseName: recyclarr
    namespace: *namespace
    repo: oci://ghcr.io/m0nsterrr/helm-charts
    version: 1.0.3
    valuesFile: values.yaml
