---
jobAnnotations:
  reloader.stakater.com/auto: "true"

extraEnvFrom:
  - configMapRef:
      name: recyclarr
  - secretRef:
      name: recyclarr-openbao
volumes:
  - name: &volume-config recyclarr-files
    configMap:
      name: recyclarr-files
volumeMounts:
  - name: *volume-config
    mountPath: /config/recyclarr.yml
    subPath: recyclarr.yml
    readOnly: true
