---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace cert-manager-scaleway

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_letsencrypt_cluster_issuer.yaml

helmCharts:
  - name: scaleway-certmanager-webhook
    releaseName: cert-manager-scaleway
    namespace: *namespace
    repo: https://helm.scw.cloud/
    version: 0.4.1
    valuesFile: values.yaml
