---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: "{{ item.name }}"
  namespace: metallb-system
spec:
  addresses:
  {{ item.pools | to_nice_yaml | indent(2) }}
  autoAssign: {{ item.auto_assign }}