---
- name: Open required ports
  community.general.ufw:
    direction: in
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.comment }} (ansible_managed)"
  with_items:
    - {port: "53", proto: tcp, comment: "Dnsdist DNS"}
    - {port: "53", proto: udp, comment: "Dnsdist DNS"}
    - {port: "853", proto: tcp, comment: "Dnsdist DoT"}
    - {port: "853", proto: udp, comment: "Dnsdist DoQ"}

- name: Add _dnsdist group
  ansible.builtin.group:
    name: _dnsdist
    system: true
    state: present

- name: Add _dnsdist user
  ansible.builtin.user:
    name: _dnsdist
    system: true
    create_home: false
    shell: /usr/sbin/nologin
    group: _dnsdist

- name: Add PowerDNS Apt signing key
  ansible.builtin.get_url:
    url: "https://repo.powerdns.com/{{ dnsdist_repository_key }}-pub.asc"
    dest: /etc/apt/keyrings/dnsdist.asc
    owner: root
    group: root
    mode: "0644"

- name: Add PowerDNS Apt repository
  ansible.builtin.copy:
    content: |
      deb [signed-by=/etc/apt/keyrings/dnsdist.asc] https://repo.powerdns.com/{{ ansible_distribution | lower }} {{ ansible_distribution_release }}-{{ (dnsdist_repo_version | split('.'))[:-1] | join('') }} main
    dest: /etc/apt/sources.list.d/dnsdist.list
    owner: root
    group: root
    mode: "0640"

- name: Configure apt preferences
  ansible.builtin.copy:
    src: apt-preferences
    dest: /etc/apt/preferences.d/dnsdist
    owner: root
    group: root
    mode: "0640"

- name: Configure systemd-resolved
  ansible.builtin.copy:
    src: systemd-resolved.conf
    dest: /etc/systemd/resolved.conf.d/99-custom.conf
    owner: systemd-resolve
    group: systemd-resolve
    mode: "0640"
  notify:
    - Enable systemd-resolved
    - Restart systemd-resolved

- name: Install dnsdist
  ansible.builtin.apt:
    name: "dnsdist{% if dnsdist_version is defined %}={{ dnsdist_version }}{% endif %}"
    update_cache: true
    state: "{{ dnsdist_package_state }}"
  notify:
    - Enable dnsdist
    - Daemon-reload
    - Restart dnsdist

- name: Configure dnsdist service
  ansible.builtin.copy:
    src: dnsdist.service
    dest: /etc/systemd/system/dnsdist.service
    owner: root
    group: root
    mode: "0640"
  notify:
    - Daemon-reload
    - Restart dnsdist

- name: Create dnsdist ssl configuration directory
  ansible.builtin.file:
    name: /etc/dnsdist/ssl
    state: directory
    owner: _dnsdist
    group: _dnsdist
    mode: "0750"

- name: Add CA cert
  ansible.builtin.copy:
    src: "{{ dnsdist_local_path_ca_certificate }}"
    dest: "/etc/dnsdist/ssl/ca.crt"
    owner: _dnsdist
    group: _dnsdist
    mode: "0640"
  notify: Restart dnsdist

- name: Configure dnsdist
  ansible.builtin.template:
    src: dnsdist.yml.j2
    dest: /etc/dnsdist/dnsdist.yml
    owner: _dnsdist
    group: _dnsdist
    mode: "0640"
  notify: Restart dnsdist

- name: Fix perms on dnsdist folder
  ansible.builtin.file:
    name: "/etc/dnsdist"
    owner: _dnsdist
    group: _dnsdist
    mode: "0750"
    state: directory
