#jinja2:lstrip_blocks: True
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ item.name }}
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - git:
      repoURL: {{ item.repo_url }}
      revision: HEAD
      directories:
        {{ item.directories | to_yaml | indent(8)}}
  template:
    metadata:
      name: '{{ '{{' }}.path.basename{{ '}}' }}'
    spec:
      project: default
      source:
        repoURL: {{ item.repo_url }}
        targetRevision: HEAD
        path: '{{ '{{' }}.path.path{{ '}}' }}'
        kustomize:
          namespace: '{{ '{{' }}.path.basename{{ '}}' }}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ '{{' }}.path.basename{{ '}}' }}'
      syncPolicy:
        automated:
          prune: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - ServerSideDiff=true
