---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argocd-vault
  namespace: argocd
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: argocd
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "argocd"
          serviceAccountRef:
            name: "argocd-vault"
      caProvider:
        type: "ConfigMap"
        # https://github.com/external-secrets/external-secrets/issues/1024
        namespace: argocd
        name: "{{ argocd_vault_ca }}"
        key: "ca.crt"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Merge"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: admin.password
      remoteRef:
        key: {{ argocd_vault_secret_key }}
        property: ADMIN_PASSWORD
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: DISCORD_WEBHOOK_URL_PATH
      remoteRef:
        key: {{ argocd_vault_secret_key }}
        property: DISCORD_WEBHOOK_URL_PATH