---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: vault
  namespace: argocd
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Merge"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: admin.password
      remoteRef:
        key: secret/data/homelab/prod/argocd
        property: ADMIN_PASSWORD
