redis-ha:
  enabled: true

controller:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

server:
  autoscaling:
    enabled: true
    minReplicas: 2
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "{{ argocd_ingress_cluster_issuer }}"
      cert-manager.io/private-key-algorithm: "RSA"
      cert-manager.io/private-key-size: "4096"
    hostname: {{ argocd_hostname }}
    ingressClassName: {{ argocd_ingress_class }}
    tls: true

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

applicationSet:
  replicas: 2
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

global:
  image:
    tag: {{ argocd_version }}
  networkPolicy:
    create: false
  dualStack:
    ipFamilyPolicy: "PreferDualStack"
  deploymentAnnotations:
    reloader.stakater.com/auto: "true"

configs:
  params:
    server.insecure: true
  cm:
    url: {{ argocd_hostname }}
    kustomize.buildOptions: "--enable-helm"
    dex.config: |
      connectors:
      - config:
          issuer: {{ argocd_oidc_issuer_url }}
          clientID: $dex.authentik.clientSecret
          clientSecret: $dex.authentik.clientID
          insecureEnableGroups: true
          scopes:
            - openid
            - profile
            - email
        name: authentik
        type: oidc
        id: authentik
  rbac:
    policy.csv: |
      g, Argocd Admins, role:admin
      g, Argocd Viewers, role:readonly
  repositories:
    {{ argocd_repositories | to_yaml | indent(4) }}

notifications:
  context:
    argocdUrl: https://{{ argocd_hostname }}
  notifiers:
    {{ argocd_notifiers | to_yaml | indent(4) }}
  subscriptions:
    {{ argocd_subscriptions | to_yaml | indent(4) }}
  templates:
    {{ argocd_templates | to_yaml | indent(4) }}
  triggers:
    {{ argocd_triggers | to_yaml | indent(4) }}
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
