redis-ha:
  enabled: true

controller:
  replicas: 1
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

server:
  autoscaling:
    enabled: true
    minReplicas: 2
  metrics:
  enabled: true
    serviceMonitor:
      enabled: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "{{ argocd_ingress_cluster_issuer }}"
      cert-manager.io/private-key-algorithm: "RSA"
      cert-manager.io/private-key-size: "4096"
    hosts:
      - {{ argocd_hostname }}
    ingressClassName: {{ argocd_ingress_class }}
    tls:
      - secretName: {{ argocd_hostname }}
        hosts:
          - {{ argocd_hostname }}

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

applicationSet:
  replicas: 2
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

global:
  image:
    tag: {{ argocd_version }}
  networkPolicy:
    create: false

configs:
  params:
    server.insecure: true
  cm:
    kustomize.buildOptions: "--enable-helm"
  repositories:
    {{ argocd_repositories | to_yaml | indent(4) }}

notifications:
  context:
    argocdUrl: https://{{ argocd_hostname }}
  notifiers:
    {{ argocd_notifiers | to_yaml | indent(4) }}
  subscriptions:
    {{ argocd_subscriptions | to_yaml | indent(4) }}
  templates:
    {{ argocd_templates | to_yaml | indent(4) }}
  triggers:
    {{ argocd_triggers | to_yaml | indent(4) }}
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
