redis-ha:
  enabled: true

controller:
  replicas: 1

server:
  autoscaling:
    enabled: true
    minReplicas: 2

repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2

applicationSet:
  replicas: 2

global:
    image:
        tag: "{{ argocd_version }}"
    networkPolicy:
        create: true

configs:
    params:
        server.insecure: true
    secret:
        argocdServerAdminPassword: "{{ argocd_admin_password | password_hash('bcrypt') }}"
    repositories:
        {{ argocd_repositories | to_nice_yaml | indent(8) }}

server:
    ingress:
        enabled: true
        annotations:
            cert-manager.io/cluster-issuer: "{{ argocd_ingress_cluster_issuer }}"
            cert-manager.io/private-key-algorithm: "RSA"
            cert-manager.io/private-key-size: "4096"
        hosts:
            - {{ argocd_hostname }}
        ingressClassName: {{ argocd_ingress_class }}
        tls:
            - hosts:
                - {{ argocd_hostname }}
            secretName: {{ argocd_hostname }}
