---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server
  namespace: argocd
  annotations:
    cert-manager.io/cluster-issuer: "{{ argocd_ingress_cluster_issuer }}"
    cert-manager.io/private-key-algorithm: "RSA"
    cert-manager.io/private-key-size: "4096"
spec:
  rules:
    - host: {{ argocd_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  name: http
  tls:
    - hosts:
        - {{ argocd_hostname }}
      secretName: {{ argocd_hostname }}
  ingressClassName: {{ argocd_ingress_class }}
