apiVersion: v1
kind: Secret
metadata:
  name: "{{ argocd_repository_name }}"
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "{{ argocd_repository_url }}"
