---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: argocd
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "argocd"
          serviceAccountRef:
            name: "argocd"
      caProvider:
        type: "ConfigMap"
        namespace: "argocd"
        name: "{{ argocd_vault_ca }}"
        key: "ca.crt"
