---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace stakater

helmCharts:
- name: reloader
  releaseName: stakater
  namespace: *namespace
  repo: oci://ghcr.io/stakater/charts
  version: 2.1.5
  valuesFile: values.yaml
