#jinja2: lstrip_blocks: "True"
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ external_dns_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns-vault
  namespace: {{ external_dns_namespace }}
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: {{ external_dns_namespace }}
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "{{ external_dns_vault_role }}"
          serviceAccountRef:
            name: "external-dns-vault"
      caProvider:
        type: "ConfigMap"
        # https://github.com/external-secrets/external-secrets/issues/1024
        namespace: "{{ external_dns_namespace }}"
        name: "{{ external_dns_vault_ca }}"
        key: "ca.crt"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: vault
  namespace: {{ external_dns_namespace }}
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    {% for external_dns_vault_secret in external_dns_vault_secrets %}
    - secretKey: {{ external_dns_vault_secret.property }}
      remoteRef:
        key: {{ external_dns_vault_secret.key }}
        property: {{ external_dns_vault_secret.property }}
    {% endfor %}