#jinja2: lstrip_blocks: "True"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: vault
  namespace: {{ external_dns_namespace }}
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    {% for external_dns_vault_secret in external_dns_vault_secrets %}
    - secretKey: {{ external_dns_vault_secret.property }}
      remoteRef:
        key: {{ external_dns_vault_secret.key }}
        property: {{ external_dns_vault_secret.property }}
    {% endfor %}