---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: {{ external_dns_namespace }}
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "{{ external_dns_vault_role }}"
          serviceAccountRef:
            name: "external-dns"
      caProvider:
        type: "ConfigMap"
        namespace: "{{ external_dns_namespace }}"
        name: "{{ external_dns_vault_ca }}"
        key: "ca.crt"
