---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace prometheus-operator-crds

helmCharts:
- name: prometheus-operator-crds
  releaseName: prometheus-operator-crds
  namespace: *namespace
  repo: oci://ghcr.io/prometheus-community/charts
  version: 22.0.0
