---
manager:
  auto_arpa: true
  include_meta: false
  max_workers: 5

processors:
  ownership:
    class: octodns.processor.ownership.OwnershipProcessor

providers:
  config:
    class: octodns.provider.yaml.YamlProvider
    directory: ./octodns/internal
    default_ttl: 3600
    enforce_order: true
  powerdns:
    class: octodns_powerdns.PowerDnsProvider
    host: 192.168.10.21
    port: 443
    api_key: env/POWERDNS_API_KEY
    scheme: https
    ssl_verify: true
    notify: true

zones:
  unicornafk.fr.:
    sources:
      - config
    targets:
      - powerdns
    processors:
      - ownership
  5.168.192.in-addr.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  10.168.192.in-addr.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  20.168.192.in-addr.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  40.168.192.in-addr.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  50.168.192.in-addr.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  5.0.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  6.0.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  0.1.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  0.2.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  0.4.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
  0.5.1.0.0.c.2.0.1.4.6.b.c.0.a.2.ip6.arpa.:
    sources:
      - auto-arpa
    targets:
      - powerdns
    processors:
      - ownership
