---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  path: ./kubernetes/apps/rook-ceph/rook-ceph-cluster/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: rook-ceph
    namespace: rook-ceph
  targetNamespace: rook-ceph
