apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana-mimir

resources:
  - manifests/01_bucket.yaml
  - manifests/02_datasource.yaml

helmCharts:
- name: mimir-distributed
  releaseName: grafana-mimir
  namespace: grafana-mimir
  repo: https://grafana.github.io/helm-charts
  version: 5.2.1
  valuesFile: values.yaml
