---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace kured

helmCharts:
- name: kured
  releaseName: kured
  namespace: *namespace
  repo: https://kubereboot.github.io/charts
  version: 5.6.2
  valuesFile: values.yaml
