image:
  tag: "{{ traefik_version }}"
deployment:
  kind: Deployment
  replicas: 3
service:
  annotations:
    metallb.universe.tf/loadBalancerIPs: {{ traefik_external_ips | join(",") }}
  ipFamilyPolicy: PreferDualStack
providers:
  kubernetesIngress:
    publishedService:
      enabled: true
ingressClass:
  enabled: true
  isDefaultClass: {{ traefik_default_ingress_class }}
  name: {{ traefik_namespace }}
additionalArguments:
  - "--providers.kubernetescrd.allowCrossNamespace=true"
  - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
  - "--providers.kubernetesingress.ingressclass={{ traefik_namespace }}"
