---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: qbittorrent-openbao
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/secretstore_v1.json
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "https://openbao.openbao.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "qbittorrent"
          serviceAccountRef:
            name: "qbittorrent-openbao"
      caProvider:
        type: "ConfigMap"
        name: "homelab-ca"
        key: "ca.crt"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbittorrent-openbao
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: PASSWORD_PBKF2
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/qbittorrent
        property: PASSWORD_PBKF2
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gluetun-openbao
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Owner"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: VPN_ENDPOINT_IP
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/gluetun
        property: VPN_ENDPOINT_IP
    - secretKey: VPN_ENDPOINT_PORT
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/gluetun
        property: VPN_ENDPOINT_PORT
    - secretKey: WIREGUARD_PUBLIC_KEY
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/gluetun
        property: WIREGUARD_PUBLIC_KEY
    - secretKey: WIREGUARD_PRIVATE_KEY
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/gluetun
        property: WIREGUARD_PRIVATE_KEY
    - secretKey: WIREGUARD_ADDRESSES
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: secret/data/homelab/prod/gluetun
        property: WIREGUARD_ADDRESSES
