apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: stakater

helmCharts:
- name: reloader
  releaseName: stakater
  namespace: stakater
  repo: https://stakater.github.io/stakater-charts
  version: 1.0.50
  valuesFile: values.yaml
