---
podAnnotations:
  reloader.stakater.com/auto: "true"
volumes:
  - name: &volume-ca ca-certs
    configMap:
      name: homelab-ca
volumeMounts:
  - name: *volume-ca
    mountPath: /etc/ssl/certs/homelab.crt
    subPath: ca.crt
    readOnly: true
extraEnvFrom:
  - configMapRef:
      name: prometheus-pve-exporter
  - secretRef:
      name: prometheus-pve-exporter-vault
serviceMonitor:
  enabled: true
prometheusRule:
  enabled: true
