---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: media-storage
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi # dummy value
  storageClassName: media-smb
