---
# named environment that vault-unseal is running in, gets passed in when sending
# email alerts.
environment: {{ vault_unseal_cluster_name }}

# delay between seal-checks of each vault node.
check_interval: 15s

# maximum delay between checks of each vault node. when an error occurs, we will
# add a backoff delay, up to this maximum.
max_check_interval: 30m

# list of vault nodes to check, must include http/https, and a port (unless 80/443).
vault_nodes:
{% for vault in groups[vault_unseal_nodes_group] %}
  - https://{{ hostvars[vault].hostname }}:8200
{% endfor %}

# unseal tokens necessary to unseal any of the given vaults in the above node
# list.
#
# WARNING: do not put enough tokens in this list that can be used to unseal a
# vault instance. I.e. if vault requires 3 of 5 tokens, DO NOT PUT 3 TOKENS HERE.
# the goal is to put less than the required amount, but have more instances of
# vault-unseal setup with the other missing tokens from the list. this ensures
# that if the server was compromised, they don't have all of the needed tokens.
#
# i.e. 1 instance of vault-unseal on each of the three nodes, each with two
# tokens. given A, B, and C tokens required, each instance should have the
# following tokens:
#   * 1: AB
#   * 2: BC
#   * 3: AC
{% set nb_keys = ((groups[vault_unseal_nodes_group]|length / vault_unseal_seal_keys|length) | round(0, 'ceil') | int) %}
{% set offset_keys = groups[vault_unseal_nodes_group].index(inventory_hostname)*nb_keys %}
unseal_tokens:
{% for i in range((0 + offset_keys, nb_keys + offset_keys) %}
  - {{ vault_unseal_seal_keys[i] }}
{% endfor %}

# skip tls checks for the given vault instance. useful if your instance doesn't
# have a certificate which has all of the server hostnames on it.
tls_skip_verify: false

# email notifications. setting this to false will disable all notifications.
email:
  enabled: true
  hostname: {{ vault_unseal_smtp_hostname }}
  port: {{ vault_unseal_smtp_port }}
  username: {{ vault_unseal_smtp_username }}
  password: {{ vault_unseal_smtp_password }}
  # address to send from.
  from_addr: {{ vault_unseal_smtp_from }}
  # addresses to send to. the first will be the TO, the second and on will be CC'd
  # onto the message.
  send_addrs:
    - {{ vault_unseal_smtp_to }}
  # Skip TLS certificate validation.
  tls_skip_verify: {{ vault_unseal_smtp_tls_skip_verify }}
  # Require TLS for SMTP connections.
  # The default is opportunistic.
  mandatory_tls: {{ vault_unseal_smtp_mandatory_tls }}

# notifications in vault-unseal queue up to prevent email spam (e.g. 20 alerts
# in one email). this is the max allotted time an event can be queued before
# the queue is sent as a notification.
notify_max_elapsed: 10m

# queue delay is the amount of time vault-unseal waits after the last received
# notification, before it sends all of them in bulk.
notify_queue_delay: 60s