#jinja2:lstrip_blocks: True
---
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ vault_unseal_k8s_service_account_result["resources"][0]["data"]["ca.crt"] }}
    server: {{ vault_unseal_k8s_api_server }}
  name: default
contexts:
- context:
    cluster: default
    user: vault-unseal
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: vault-unseal
  user:
    token: {{ vault_unseal_k8s_service_account_result["resources"][0]["data"]["token"] | b64decode }}
