#jinja2:lstrip_blocks: True
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-unseal
  namespace: {{ vault_unseal_k8s_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vault-unseal-role
  namespace: {{ vault_unseal_k8s_namespace }}
rules:
- apiGroups: [""]
  resources: ["pods/proxy"]
  verbs: ["get", "create"]
  resourceNames: {{ vault_unseal_nodes | to_yaml | indent(2) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: vault-unseal-rolebinding
  namespace: {{ vault_unseal_k8s_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vault-unseal-role
subjects:
- namespace: {{ vault_unseal_k8s_namespace }}
  kind: ServiceAccount
  name: vault-unseal
---
apiVersion: v1
kind: Secret
metadata:
  name: vault-unseal-sa-token
  namespace: {{ vault_unseal_k8s_namespace }}
  annotations:
    kubernetes.io/service-account.name: vault-unseal
type: kubernetes.io/service-account-token
