---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace external-dns-external

resources:
  # Already deployed with external-dns-internal
  # - manifests/01_prometheus_rule.yaml
  - manifests/02_external_secret.yaml

helmCharts:
- name: external-dns
  releaseName: external-dns-external
  namespace: *namespace
  repo: https://kubernetes-sigs.github.io/external-dns/
  version: 1.17.0
  valuesFile: values.yaml
