---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  values:
    kubeProxyReplacement: true
    routingMode: native
    autoDirectNodeRoutes: true
    ipv4NativeRoutingCIDR: "10.42.0.0/16"
    ipv6NativeRoutingCIDR: "2001:cafe:42:0::/96"
    enableIPv4Masquerade: true
    enableIPv6Masquerade: true
    loadBalancer:
      mode: dsr
      acceleration: native
    k8sServiceHost: "192.168.10.80"
    k8sServicePort: 6443
    policyEnforcementMode: default
    policyAuditMode: false
    gatewayAPI:
      enabled: true
    hostFirewall:
      enabled: true
    extraConfig:
      allow-localhost: policy
    ipv4:
      enabled: true
    ipv6:
      enabled: true
    ipam:
      mode: cluster-pool
      operator:
        clusterPoolIPv4PodCIDRList: "10.42.0.0/16"
        clusterPoolIPv6PodCIDRList: "2001:cafe:42:0::/96"
        clusterPoolIPv4MaskSize: 24
        clusterPoolIPv6MaskSize: 112
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    dashboards:
      enabled: true
    operator:
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
      metrics:
        enabled:
          - dns
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
        enableOpenMetrics: true
        serviceMonitor:
          enabled: true
        dashboards:
          enabled: true
    envoy:
      enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
