---
# renovate: datasource=github-releases depName=argoproj/argo-cd
argocd_version: "v3.0.6"
# renovate: datasource=github-releases depName=argoproj/argo-helm
argocd_chart_github_tag: "argo-cd-8.1.1"
argocd_chart_version: "{{ argocd_chart_github_tag | replace('argo-cd-', '') }}"
argocd_force_install: false
argocd_localhost_kubeconfig_path: /home/user/.kube/kubeconfig
argocd_oidc_issuer_url: https://sso.example.fr/application/o/argocd/
argocd_hostname: argocd.example.fr
argocd_ingress_cluster_issuer: nginx
argocd_ingress_class: nginx
argocd_vault_ca: ""
argocd_vault_secret_key: ""
argocd_repositories: {}
argocd_notifiers: {}
argocd_subscriptions: []
argocd_templates: {}
argocd_applications: []

# argocd_repositories:
#   istio-helm-repo:
#     url: https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts
#     name: istio.io
#     type: helm
# argocd_notifiers:
#   service.webhook.discord: |
#       headers:
#         - name: Content-Type
#           value: application/json
#       url: "https://discord.com"
# argocd_subscriptions:
#   - recipients:
#       - discord
#     triggers:
#       - on-deployed
#       - on-health-degraded
#       - on-sync-failed
#       - on-sync-running
#       - on-sync-status-unknown
#       - on-sync-succeeded
# argocd_templates:
#   template.notify-discord: |
#     {% raw %}
#     your amazin template
# argocd_applications:
#   name: example
#   repo_url: https://example.git
#   directories:
#     - path: apps
