{% if consul_server %}
server = true
bootstrap_expect = 3
{% endif %}

ports = {
  http = -1
  https = 8501
}

log_level = "INFO"

client_addr = "0.0.0.0 [::]"
server_name = "{{ inventory_hostname }}"

datacenter = "{{ consul_datacenter }}"
data_dir = "/opt/consul"

enable_syslog = true

enable_local_script_checks = true

encrypt = "{{ consul_encrypt }}"
encrypt_verify_incoming = true
encrypt_verify_outgoing = true

ca_file = "{{ consul_ca_filename }}"
cert_file = "{{ consul_cert_filename }}"
key_file = "{{ consul_key_filename }}"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

retry_join = [
  {% for consul in groups[consul_server_group] | difference([inventory_hostname]) %}
  "{{ hostvars[consul].hostname }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]

telemetry = {
  prometheus_retention_time = "120s"
  disable_hostname = true
}

acl = {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true

  tokens = {
    {% if consul_server %}
    initial_management = "{{ consul_token_initial_management }}"
    {% else %}
    agent = "{{ consul_agent_token }}"
    {% endif %}
  }
}

performance {
  raft_multiplier = 1
}
