[Unit]
Description=Envoy sidecar proxy for service {{ item.name }}
After=network-online.target

[Service]
User=consul
Group=consul
ExecStart=/usr/bin/consul connect envoy -sidecar-for {{ item.name }} \
  -admin-bind {{ item.sidecar_proxy.admin_bind }} \
  -token-file /etc/consul.d/{{ item.name }}.token
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target