service {
    name = "{{ item.name }}"
    port = {{ item.port }}
    tags = [
        {% for tag in item.tags %}
        "{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}
    ]
    meta {
        {% for key, value in item.meta.items() %}
        {{ key }} = "{{ value }}"
        {% endfor %}
    }

    token = "{{ consul_service_token }}"

    connect {
        sidecar_service {
            port = "{{ item.sidecar_proxy.port }}"
        }
    }

    {% if 'checks' in item %}{% for check in item.checks %}check {
        args = [
        {% for arg in check.args %}
        "{{ arg }}"{% if not loop.last %}, {% endif %}{% endfor %}
        ]
        interval = "{{ check.interval }}"
    }{% endfor %}
    {% endif %}
}
