---
kubernetes_vip_url: "kubernetes.unicornafk.fr"
kube_vip_localhost_kubeconfig_path: "{{ kubernetes_localhost_kubeconfig_path }}"
kube_vip_master_group: kubernetes_master
kube_vip_address: "192.168.10.80,2a0c:b641:2c0:110::80"
kube_vip_interface: enp6s18
vault_localhost_kubeconfig_path: "{{ kubernetes_localhost_kubeconfig_path }}"
vault_init_output_file_path: "{{ root_dir_role_path }}/vault.json.secrets"
vault_ca_filename: "{{ ca_certificates_local_path_ca_certificate }}"
vault_cert_filename: "{{ certs_dir_role_path }}homelab/vault.unicornafk.fr/vault.unicornafk.fr-fullchain.crt"
vault_key_filename: "{{ certs_dir_role_path }}homelab/vault.unicornafk.fr/vault.unicornafk.fr.key"
vault_ca_path: "{{ ca_certificates_local_path_ca_certificate }}"
vault_secrets_engine:
  - name: kv-v2
    path: secret
  - name: pki
    path: pki
    tunes:
      max-lease-ttl: 8760h
      passthrough-request-headers:
        - If-Modified-Since
        - Last-Modified
        - Location
        - Replay-Nonce
        - Link
      allowed_response_headers:
        - Location
        - Link
        - Replay-Nonce
vault_auth_methods:
  - name: oidc
    path: oidc
  - name: kubernetes
    path: kubernetes
vault_policies:
  - name: viewer
    rules:
      - path: /secret/*
        capabilities:
          - read
          - list
      - path: pki*
        capabilities:
          - read
          - list
  - name: pki
    rules:
      - path: pki*
        capabilities:
          - read
          - list
      - path: pki/sign/*
        capabilities:
          - create
          - update
      - path: pki/issue/*
        capabilities:
          - create
  - name: cert-manager-scaleway
    rules:
      - path: secret/data/homelab/prod/cert_manager_scaleway
        capabilities:
          - read
  - name: external-dns-internal
    rules:
      - path: secret/data/homelab/prod/external_dns/internal
        capabilities:
          - read
  - name: external-dns-external
    rules:
      - path: secret/data/homelab/prod/external_dns/external
        capabilities:
          - read
  - name: argocd
    rules:
      - path: secret/data/homelab/prod/argocd
        capabilities:
          - read
  - name: csi-driver-smb
    rules:
      - path: secret/data/homelab/prod/csi-driver-smb
        capabilities:
          - read
  - name: authentik
    rules:
      - path: secret/data/homelab/prod/authentik
        capabilities:
          - read
  - name: rook-ceph-cluster
    rules:
      - path: secret/data/homelab/prod/rook-ceph-cluster
        capabilities:
          - read
  - name: grafana
    rules:
      - path: secret/data/homelab/prod/grafana
        capabilities:
          - read
  - name: prometheus-snmp-exporter
    rules:
      - path: secret/data/homelab/prod/prometheus-snmp-exporter
        capabilities:
          - read
  - name: prometheus-pve-exporter
    rules:
      - path: secret/data/homelab/prod/prometheus-pve-exporter
        capabilities:
          - read
  - name: as212510-net
    rules:
      - path: secret/data/homelab/prod/as212510-net
        capabilities:
          - read
  - name: hyperglass
    rules:
      - path: secret/data/homelab/prod/hyperglass
        capabilities:
          - read
  - name: bazarr
    rules:
      - path: secret/data/homelab/prod/bazarr
        capabilities:
          - read
  - name: jellyfin
    rules:
      - path: secret/data/homelab/prod/jellyfin
        capabilities:
          - read
  - name: seerr
    rules:
      - path: secret/data/homelab/prod/seerr
        capabilities:
          - read
  - name: prowlarr
    rules:
      - path: secret/data/homelab/prod/prowlarr
        capabilities:
          - read
  - name: radarr
    rules:
      - path: secret/data/homelab/prod/radarr
        capabilities:
          - read
  - name: sonarr
    rules:
      - path: secret/data/homelab/prod/sonarr
        capabilities:
          - read
  - name: recyclarr
    rules:
      - path: secret/data/homelab/prod/sonarr
        capabilities:
          - read
      - path: secret/data/homelab/prod/radarr
        capabilities:
          - read
  - name: qbittorrent
    rules:
      - path: secret/data/homelab/prod/qbittorrent
        capabilities:
          - read
      - path: secret/data/homelab/prod/gluetun
        capabilities:
          - read
  - name: stirling-pdf
    rules:
      - path: secret/data/homelab/prod/stirling-pdf
        capabilities:
          - read
  - name: actualbudget
    rules:
      - path: secret/data/homelab/prod/actualbudget
        capabilities:
          - read
public_vault_datas:
  - path: pki/config/ca
    data:
      pem_bundle:
        "{{ lookup('ansible.builtin.file', ca_certificates_local_path_ca_certificate) }}\n{{ lookup('ansible.builtin.file', certs_dir_role_path ~ 'intermediate/vault/vault.crt')
        }}\n{{ lookup('ansible.builtin.file', certs_dir_role_path ~ 'intermediate/vault/vault.key') }}"
  - path: pki/config/cluster
    data:
      path: https://vault.unicornafk.fr:8200/v1/pki
      aia_path: https://vault.unicornafk.fr:8200/v1/pki
  - path: pki/config/urls
    data:
      issuing_certificates: "{{ '{{' }}cluster_aia_path{{ '}}' }}/issuer/{{ '{{' }}issuer_id{{ '}}' }}/der"
      crl_distribution_points: "{{ '{{' }}cluster_aia_path{{ '}}' }}/issuer/{{ '{{' }}issuer_id{{ '}}' }}/crl/der"
      ocsp_servers: "{{ '{{' }}cluster_aia_path{{ '}}' }}/ocsp"
      enable_templating: true
  - path: pki/config/acme
    data:
      enabled: true
  - path: pki/roles/cert-manager
    data:
      allow_any_name: true
      ttl: 90d
      max_ttl: 365d
      key_type: rsa
      key_bits: 4096
      signature_bits: 512
      organization: "{{ organization }}"
      country: "{{ country }}"
      require_cn: false # must be disabled for cert-manager
  - path: auth/kubernetes/config
    data:
      kubernetes_host: "https://10.43.0.1:443"
  - path: auth/kubernetes/role/cert-manager
    data:
      bound_service_account_names: cert-manager-openbao
      bound_service_account_namespaces: cert-manager
      audience: "vault://vault"
      policies: pki
      ttl: 1m
  - path: auth/kubernetes/role/cert-manager-scaleway
    data:
      bound_service_account_names: cert-manager-scaleway-openbao
      bound_service_account_namespaces: cert-manager-scaleway
      policies: cert-manager-scaleway
      ttl: 1h
  - path: auth/kubernetes/role/external-dns-internal
    data:
      bound_service_account_names: external-dns-openbao
      bound_service_account_namespaces: external-dns-internal
      policies: external-dns-internal
      ttl: 1h
  - path: auth/kubernetes/role/external-dns-external
    data:
      bound_service_account_names: external-dns-openbao
      bound_service_account_namespaces: external-dns-external
      policies: external-dns-external
      ttl: 1h
  - path: auth/kubernetes/role/argocd
    data:
      bound_service_account_names: argocd-openbao
      bound_service_account_namespaces: argocd
      policies: argocd
      ttl: 1h
  - path: auth/kubernetes/role/csi-driver-smb
    data:
      bound_service_account_names: csi-driver-smb-openbao
      bound_service_account_namespaces: csi-driver-smb
      policies: csi-driver-smb
      ttl: 1m
  - path: auth/kubernetes/role/authentik
    data:
      bound_service_account_names: authentik-openbao
      bound_service_account_namespaces: authentik
      policies: authentik
      ttl: 1h
  - path: auth/kubernetes/role/rook-ceph-cluster
    data:
      bound_service_account_names: rook-ceph-cluster-openbao
      bound_service_account_namespaces: rook-ceph-cluster
      policies: rook-ceph-cluster
      ttl: 1h
  - path: auth/kubernetes/role/grafana
    data:
      bound_service_account_names: grafana-openbao
      bound_service_account_namespaces: grafana
      policies: grafana
      ttl: 1h
  - path: auth/kubernetes/role/prometheus-snmp-exporter
    data:
      bound_service_account_names: prometheus-snmp-exporter-openbao
      bound_service_account_namespaces: prometheus-snmp-exporter
      policies: prometheus-snmp-exporter
      ttl: 1h
  - path: auth/kubernetes/role/prometheus-pve-exporter
    data:
      bound_service_account_names: prometheus-pve-exporter-openbao
      bound_service_account_namespaces: prometheus-pve-exporter
      policies: prometheus-pve-exporter
      ttl: 1h
  - path: auth/kubernetes/role/as212510-net
    data:
      bound_service_account_names: as212510-net-openbao
      bound_service_account_namespaces: as212510-net
      policies: as212510-net
      ttl: 1h
  - path: auth/kubernetes/role/hyperglass
    data:
      bound_service_account_names: hyperglass-openbao
      bound_service_account_namespaces: hyperglass
      policies: hyperglass
      ttl: 1h
  - path: auth/kubernetes/role/qbittorrent
    data:
      bound_service_account_names: qbittorrent-openbao
      bound_service_account_namespaces: qbittorrent
      policies: qbittorrent
      ttl: 1h
  - path: auth/kubernetes/role/bazarr
    data:
      bound_service_account_names: bazarr-openbao
      bound_service_account_namespaces: media
      policies: bazarr
      ttl: 1h
  - path: auth/kubernetes/role/jellyfin
    data:
      bound_service_account_names: jellyfin-openbao
      bound_service_account_namespaces: media
      policies: jellyfin
      ttl: 1h
  - path: auth/kubernetes/role/seerr
    data:
      bound_service_account_names: seerr-openbao
      bound_service_account_namespaces: media
      policies: seerr
      ttl: 1h
  - path: auth/kubernetes/role/prowlarr
    data:
      bound_service_account_names: prowlarr-openbao
      bound_service_account_namespaces: media
      policies: prowlarr
      ttl: 1h
  - path: auth/kubernetes/role/radarr
    data:
      bound_service_account_names: radarr-openbao
      bound_service_account_namespaces: media
      policies: radarr
      ttl: 1h
  - path: auth/kubernetes/role/sonarr
    data:
      bound_service_account_names: sonarr-openbao
      bound_service_account_namespaces: media
      policies: sonarr
      ttl: 1h
  - path: auth/kubernetes/role/recyclarr
    data:
      bound_service_account_names: recyclarr-openbao
      bound_service_account_namespaces: media
      policies: recyclarr
      ttl: 1h
  - path: auth/kubernetes/role/stirling-pdf
    data:
      bound_service_account_names: stirling-pdf-openbao
      bound_service_account_namespaces: stirling-pdf
      policies: stirling-pdf
      ttl: 1h
  - path: auth/kubernetes/role/actualbudget
    data:
      bound_service_account_names: actualbudget-openbao
      bound_service_account_namespaces: actualbudget
      policies: actualbudget
      ttl: 1h
vault_datas: "{{ public_vault_datas + secret_vault_datas }}"
