---
vault_root_token:
vault_unseal_keys:
secret_vault_datas:
  - path: secret/data/homelab/prod/cert_manager_scaleway
    data:
      data:
        SCW_ACCESS_KEY: ""
        SCW_SECRET_KEY: ""
  - path: secret/data/homelab/prod/external_dns/external
    data:
      data:
        SCW_ACCESS_KEY:
        SCW_SECRET_KEY:
  - path: secret/data/homelab/prod/external_dns/internal
    data:
      data:
        EXTERNAL_DNS_PDNS_SERVER:
        EXTERNAL_DNS_PDNS_API_KEY:
  - path: secret/data/homelab/prod/argocd
    data:
      data:
        ADMIN_PASSWORD: "{{ '' | password_hash('bcrypt') }}"
        DISCORD_WEBHOOK_URL_PATH:
  - path: secret/data/homelab/prod/keycloak
    data:
      data:
        POSTGRES_USER:
        POSTGRES_PASSWORD:
        ADMIN_USER:
        ADMIN_PASSWORD:
        RESTIC_PASSWORD:
        S3_ACCESS_KEY:
        S3_SECRET_KEY:
  - path: secret/data/homelab/prod/rook-ceph-cluster
    data:
      data:
        DASHBOARD_PASSWORD:
argocd_discord_webhook_path_url:
