---
vault_root_token:
vault_unseal_keys:
secret_vault_datas:
  - path: secret/data/homelab/prod/external_dns/external
    data:
      data:
        SCW_ACCESS_KEY:
        SCW_SECRET_KEY:
  - path: secret/data/homelab/prod/external_dns/internal
    data:
      data:
        EXTERNAL_DNS_PDNS_SERVER:
        EXTERNAL_DNS_PDNS_API_KEY:
        EXTERNAL_DNS_PDNS_TLS_ENABLED: true
        EXTERNAL_DNS_TLS_CA: "{{ lookup('ansible.builtin.file', ca_certificates_local_path_ca_certificate) }}"
  - path: secret/data/homelab/prod/argocd/keycloak
    data:
      data:
        POSTGRESQL_USERNAME:
        POSTGRESQL_PASSWORD:
        POSTGRESQL_DATABASE:
        ADMIN_USER:
        ADMIN_PASSWORD:
argocd_admin_password:
argocd_discord_webhook_path_url:
