---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace quickwit

resources:
  - manifests/01_configmap.yaml
  - manifests/02_bucket.yaml
  - manifests/03_datasource.yaml

helmCharts:
  - name: quickwit
    releaseName: quickwit
    namespace: *namespace
    repo: https://helm.quickwit.io
    version: 0.7.18
    valuesFile: values.yaml
