---
runrestic_backup:
  - name: Uptime-kuma backup
    config_name: uptime_kuma
    repositories:
    password:
    sources:
      - /tmp/kuma.db.bak
    pre_hooks:
      - rm -f /tmp/kuma.db.bak
      - sqlite3 /var/www/uptime-kuma/data/kuma.db ".backup '/tmp/kuma.db.bak'"
    post_hooks:
      - rm -f /tmp/kuma.db.bak
runrestic_ssh_key_hosts:
  - host:
    port: 23
    user:
    password:
