---
runrestic_backup:
  - name: Uptime-kuma backup
    config_name: uptime_kuma
    repositories:
    restic_password:
    envs:
      B2_ACCOUNT_ID:
      B2_ACCOUNT_KEY:
    sources:
      - /tmp/kuma.db.bak
    pre_hooks:
      - rm -f /tmp/kuma.db.bak
      - sqlite3 /var/www/uptime-kuma/data/kuma.db ".backup '/tmp/kuma.db.bak'"
    post_hooks:
      - rm -f /tmp/kuma.db.bak
