---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-operator
spec:
  chartRef:
    kind: OCIRepository
    name: opentelemetry-operator
  interval: 1h
  values:
    manager:
      collectorImage:
        repository: "otel/opentelemetry-collector-contrib"
      prometheusRule:
        enabled: true
        defaultRules:
          enabled: true
