---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: jellyseerr-cluster
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6@sha256:30b304a2e300ed80b6d1b740e4369e9b0f25599fb518de78c01fd9f25531791b

  primaryUpdateStrategy: unsupervised
  instances: 1
  enablePDB: false

  enableSuperuserAccess: false

  certificates:
    serverTLSSecret: jellyseerr-postgres-cert
    serverCASecret: jellyseerr-postgres-cert

  storage:
    size: 2Gi
    pvcTemplate:
      dataSourceRef:
        apiGroup: volsync.backube
        kind: ReplicationDestination
        name: db-restore

  bootstrap:
    initdb:
      database: jellyseerr
      owner: jellyseerr
      secret:
        name: postgres-vault
      dataChecksums: true
      encoding: UTF8

  monitoring:
    enablePodMonitor: true
