---
podAnnotations:
  reloader.stakater.com/auto: "true"

strategy:
  type: RollingUpdate

config:
  persistence:
    enabled: false

extraEnvFrom:
  - configMapRef:
      name: sonarr
  - secretRef:
      name: sonarr-openbao
volumes:
  - name: &volume-data data
    persistentVolumeClaim:
      claimName: media-storage
volumeMounts:
  - name: *volume-data
    mountPath: /tv
    subPath: tv
  - name: *volume-data
    mountPath: /downloads
    subPath: downloads
