[defaults]
remote_user = lortega
interpreter_python = /usr/bin/python3
callbacks_enabled = timer, profile_tasks, profile_roles
stdout_callback = community.general.yaml
vault_password_file = ../.vault_password.txt
inventory = hosts, inventory.proxmox.yml

[ssh_connection]
pipelining = True
ssh_args= -o ControlMaster=auto -o ControlPersist=60s

[inventory]
enable_plugins = host_list, ini, community.general.proxmox