[defaults]
remote_user = lortega
interpreter_python = /usr/bin/python3
callbacks_enabled = timer, profile_tasks, profile_roles
vault_password_file = ../.vault_password.txt
inventory = inventory.vmware.yaml,hosts

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[inventory]
enable_plugins = host_list, ini, vmware_vm_inventory