---
- name: Configure base infra
  hosts: all,!cloud,!kubernetes
  become: true
  roles:
    - self_signed_cert
    - lego
    - opentelemetry_collector

- name: Configure DNS servers
  hosts: dns
  become: true
  roles:
    - postgresql
    - caddy
    - dnsdist
    - powerdns_recursor
    - powerdns_authoritative

- name: Configure DHCP servers
  hosts: dhcp
  become: true
  roles:
    - kea_dhcp
    - ntp

- name: Configure Vault unseal
  hosts: dns
  become: true
  roles:
    - vault_unseal
