---
- name: Provision packer
  hosts: all
  become: true
  roles:
    - apt
    - modprobe
    - grub
    - compiler
    - auditd
    - sysctl
    - ufw
    - motd
    - systemd_timesyncd
    - systemd_resolved
    - user
    - openssh_server
    - pam
    - fail2ban
    - ca_certificates
  pre_tasks:
    - name: Update and upgrade all packages
      ansible.builtin.apt:
        upgrade: true
        update_cache: true
        autoclean: true
        autoremove: true

    - name: Create /etc/apt/keyrings used by GPG key for apt
      ansible.builtin.file:
        name: /etc/apt/keyrings
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Install pip3
      ansible.builtin.apt:
        name: python3-pip
        state: present

    - name: Install virtualenv
      ansible.builtin.apt:
        name: python3-virtualenv
        state: present

    - name: Install apt-transport-https
      ansible.builtin.apt:
        name: apt-transport-https
        state: present

    - name: Install gnupg-agent
      ansible.builtin.apt:
        name: gnupg-agent
        state: present

    - name: Install rng-tools
      ansible.builtin.apt:
        name: rng-tools
        state: present

    - name: Install sysstat
      ansible.builtin.apt:
        name: sysstat
        state: present

    - name: Install apt-show-versions
      ansible.builtin.apt:
        name: apt-show-versions
        state: present

    - name: Install debsums
      ansible.builtin.apt:
        name: debsums
        state: present

    - name: Install curl
      ansible.builtin.apt:
        name: curl
        state: present

    - name: Install cloud-initramfs-growroot
      ansible.builtin.apt:
        name: cloud-initramfs-growroot
        state: present

    - name: Install acl
      ansible.builtin.apt:
        name: acl
        state: present

  post_tasks:
    - name: Clean cloud init configuration
      ansible.builtin.command: cloud-init clean --seed --machine-id
      changed_when: true

    - name: "Update password of {{ ansible_ssh_user }}"
      ansible.builtin.user:
        name: "{{ ansible_ssh_user }}"
        password: "{{ main_password | ansible.builtin.password_hash('sha512') }}"
        update_password: always
