plugin: community.general.proxmox
strict: true
url: <hostname>
user: <username_vault_encrypted>
password: <password_vault_encrypted>
validate_certs: true
want_facts: true
group_prefix: ""
filters:
  - "proxmox_tags_parsed is defined and 'ansible_managed' in proxmox_tags_parsed"
keyed_groups:
  - key: proxmox_tags_parsed
    separator: ''
compose:
  ansible_host: proxmox_name + ".unicornafk.fr"