---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kea1-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: kea-exporter
  interval: 1h
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    volumes:
      - name: &volume-ca ca-certs
        configMap:
          name: homelab-ca
      - name: &volume-mtls client-mtls
        secret:
          secretName: client-mtls
    volumeMounts:
      - name: *volume-ca
        mountPath: /etc/ssl/certs/homelab.crt
        subPath: ca.crt
        readOnly: true
      - name: *volume-mtls
        mountPath: /mtls/client
        readOnly: true
    extraEnvFrom:
      - configMapRef:
          name: kea-exporter
      - configMapRef:
          name: kea-exporter-dns1
    serviceMonitor:
      enabled: true
      metricRelabelings:
        - action: replace
          replacement: dhcp1.unicornafk.fr
          sourceLabels:
            - instance
          targetLabel: instance
    prometheusRule:
      enabled: true
