#jinja2: lstrip_blocks: "True"
addLocal('0.0.0.0')
addLocal('::')

{% if dnsdist_doh_proxified %}
addDOHLocal('127.0.0.1:8053')
addDOHLocal('[::1]:8053')
{% else %}
addDOHLocal('0.0.0.0', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}', {customResponseHeaders={["alt-svc"]="h3=\":443\""{{ "}}" }})
addDOHLocal('::', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}', {customResponseHeaders={["alt-svc"]="h3=\":443\""{{ "}}" }})
addDOH3Local('0.0.0.0', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')
addDOH3Local('::', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')
{% endif %}

addTLSLocal('0.0.0.0', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')
addTLSLocal('::', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')

addDOQLocal('0.0.0.0', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')
addDOQLocal('::', '/etc/dnsdist/ssl/{{ dnsdist_cert_filename }}', '/etc/dnsdist/ssl/{{ dnsdist_key_filename }}')

setACL({'0.0.0.0/0', '::/0'})

newServer({address='127.0.0.1:5301', useProxyProtocol=true, pool='recursor'})
newServer({address='[::1]:5301', useProxyProtocol=true, pool='recursor'})

webserver("127.0.0.1:8083")
setWebserverConfig({apiKey="{{ dnsdist_api_key }}"})

addAction(AllRule(), PoolAction('recursor'))
