---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace victoria-metrics

resources:
  - manifests/01_datasource.yaml

helmCharts:
- name: victoria-metrics-single
  releaseName: victoria-metrics
  namespace: *namespace
  repo: oci://ghcr.io/victoriametrics/helm-charts
  version: 0.22.0
  valuesFile: values.yaml
