# yaml-language-server: $schema=https://taskfile.dev/schema.json
---
version: "3"

tasks:
  bootstrap:
    desc: Bootstrap kubernetes cluster
    cmds:
      - task: setup-kubernetes
      - cmd: helmfile apply -f {{.TASKFILE_DIR}}/ressources/helmfile.yaml --skip-diff-on-install --suppress-diff
