apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: {{ item.name }}
  namespace: trust-manager
spec:
  sources:
    {{ item.sources | to_yaml | indent(4) }}
  target:
    configMap:
      key: "{{ item.key }}"