#jinja2: lstrip_blocks: "True"
replicaCount: 2
app:
  metrics:
    service:
      enabled: true
      ipFamilyPolicy: "PreferDualStack"
      servicemonitor:
        enabled: true
  webhook:
    service:
      ipFamilyPolicy: "PreferDualStack"
secretTargets:
  enabled: true
  authorizedSecrets:
  {% for certificate in trust_manager_certificates %}
    - {{ certificate.name }}
  {% endfor %}