---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: homepage
spec:
  interval: 1h
  path: ./kubernetes/apps/homepage/homepage/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homepage
    namespace: homepage
  targetNamespace: homepage
