---
apiVersion: v1
kind: ConfigMap
metadata:
  name: quickwit-datasource
  labels:
    grafana_datasource: "1"
data:
  quickwit-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: quickwit
      type: quickwit-quickwit-datasource
      url: http://quickwit-searcher.quickwit.svc.cluster.local:7280/api/v1
      access: proxy
      jsonData:
        index: 'otel-logs-v0_7'
        logMessageField: body
        logLevelField: severity_text
