[Unit]
Description=Lego
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/lego/renew.py \
    --config /etc/lego/%I/config.json

[Install]
WantedBy=multi-user.target