---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
spec:
  chartRef:
    kind: OCIRepository
    name: metallb
  interval: 1h
  values:
    prometheus:
      serviceAccount: "prometheus"
      namespace: "metallb-system"
      serviceMonitor:
        enabled: true
      prometheusRule:
        enabled: true
