apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource
  labels:
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: loki
      type: loki
      url: http://grafana-loki-gateway.grafana-loki.svc.cluster.local
      access: proxy
      jsonData:
        maxLines: 1000
