apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana

resources:
  - manifests/01_external_secret.yaml

helmCharts:
- name: grafana
  releaseName: grafana
  namespace: grafana
  repo: https://grafana.github.io/helm-charts
  version: 7.3.3
  valuesFile: values.yaml
