---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-pve-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: prometheus-pve-exporter
  interval: 1h
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    volumes:
      - name: &volume-ca ca-certs
        configMap:
          name: homelab-ca
    volumeMounts:
      - name: *volume-ca
        mountPath: /etc/ssl/certs/homelab.crt
        subPath: ca.crt
        readOnly: true
    extraEnvFrom:
      - configMapRef:
          name: prometheus-pve-exporter
      - secretRef:
          name: prometheus-pve-exporter-openbao
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
