---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik
spec:
  interval: 1h
  path: ./kubernetes/apps/authentik/authentik/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: authentik
    namespace: authentik
  targetNamespace: authentik
