---
name: Ansible Lint
on:
  push:
    paths:
      - ansible/**
      - .github/workflows/ansible-lint.yml
  pull_request:
permissions: {}
jobs:
  ansible-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@d9e0f98d3fc6adb07d1e3d37f3043649ddad06a1 # v6.5.0
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: ".python-version"
      - name: Install the project
        run: uv sync --extra ansible
      - name: Lint ansible folder
        run: |
          cd ansible
          sed -i '/vault_password_file/d' ansible.cfg
          uv run ansible-lint
