---
name: Kubernetes Lint
on:
  push:
    paths:
      - argocd/**
      - .github/workflows/kube-lint.yml
  pull_request:
permissions: {}
jobs:
  kubernetes-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Scan repo with kube-linter
        uses: stackrox/kube-linter-action@87802a2f4e01abebb3ee3c67a3002fea71f6eae5 # v1.0.7
        with:
          directory: argocd
