---
name: Octodns
on:
  push:
    paths:
      - octodns/**
      - .github/workflows/octodns.yml
  pull_request:
permissions: {}
jobs:
  octodns-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eb1897b8dc4b5d5bfe39a428a8f2304605e0983c # v7.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: ".python-version"
      - name: Install the project
        run: uv sync --extra octodns
      - name: Validate octodns config
        run: |
          uv run octodns-validate --config-file=./octodns/internal/config.yaml --all
          uv run octodns-validate --config-file=./octodns/external/config.yaml --all
        env:
          SCALEWAY_SECRET_KEY: fake_token
          POWERDNS_API_KEY: fake_token
  octodns-deploy:
    name: Deploy
    if: github.ref == 'refs/heads/main'
    needs: [octodns-lint]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eb1897b8dc4b5d5bfe39a428a8f2304605e0983c # v7.0.0
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: ".python-version"
      - name: Install the project
        run: uv sync --extra octodns
      - name: Apply octodns config
        run: |
          uv run octodns-sync --config-file=./octodns/external/config.yaml --doit --force
        env:
          SCALEWAY_SECRET_KEY: ${{ secrets.SCALEWAY_SECRET_KEY }}
          POWERDNS_API_KEY: ${{ secrets.POWERDNS_API_KEY }}
