---
name: Packer Lint
on:
  push:
    paths:
      - packer/**
      - .github/workflows/packer-lint.yml
  pull_request:
permissions: {}
jobs:
  packer-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Setup packer
        uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232 # v3.1.0
        id: setup
        with:
          version: latest
      - name: Run packer validate
        id: validate
        run: |
          cd packer/templates
          packer validate -syntax-only ubuntu
