---
name: "Pluto"
on:
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
permissions: {}
jobs:
  pluto:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@cc9f26b61c25df98348bf1ee0a0be35dab66ce8d # v5.22.0
      - name: Pluto detect-files
        run: pluto detect-files -d argocd/
