---
name: "Pluto"
on:
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
permissions: {}
jobs:
  pluto:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Download Pluto
        uses: FairwindsOps/pluto/github-action@27a470e10b07302fba2d5a2e6817a08a2b87c0c3 # v5.22.6
      - name: Pluto detect-files
        run: pluto detect-files -d argocd/
