---
name: Renovatebot check
on:
  push:
    paths:
      - .github/renovate.json5
      - .github/workflows/renovatebot-check.yml
  pull_request:
permissions: {}
jobs:
  renovatebot-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Check renovate config
        run: npx -p renovate renovate-config-validator
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json5
          LOG_LEVEL: info
