---
apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph-cluster
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rook-ceph-cluster-vault
  namespace: rook-ceph-cluster
---
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: vault
  namespace: rook-ceph-cluster
spec:
  provider:
    vault:
      server: "https://vault.vault.svc:8200"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "rook-ceph-cluster"
          serviceAccountRef:
            name: "rook-ceph-cluster-vault"
      caProvider:
        type: "ConfigMap"
        # https://github.com/external-secrets/external-secrets/issues/1024
        namespace: rook-ceph-cluster
        name: "{{ rook_cluster_vault_ca }}"
        key: "ca.crt"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rook-ceph-dashboard-password
  namespace: rook-ceph-cluster
spec:
  refreshInterval: "1m"
  target:
    creationPolicy: "Merge"
    deletionPolicy: "Retain"
  secretStoreRef:
    kind: SecretStore
    name: vault
  data:
    - secretKey: password
      remoteRef:
        key: {{ rook_cluster_vault_secret_key }}
        property: DASHBOARD_PASSWORD