cephClusterSpec:
  storage:
    deviceFilter: sdb
  mgr:
    modules:
      - name: pg_autoscaler
        enabled: true
      - name: rook
        enabled: true
  dashboard:
    enabled: true
    ssl: false
cephObjectStores:
  - name: ceph-objectstore
    # see https://github.com/rook/rook/blob/master/Documentation/CRDs/Object-Storage/ceph-object-store-crd.md#object-store-settings for available configuration
    spec:
      metadataPool:
        failureDomain: host
        replicated:
          size: 3
      dataPool:
        failureDomain: host
        erasureCoded:
          dataChunks: 2
          codingChunks: 1
      preservePoolsOnDelete: true
      gateway:
        port: 80
        resources:
          limits:
            cpu: "2000m"
            memory: "2Gi"
          requests:
            cpu: "1000m"
            memory: "1Gi"
        # securePort: 443
        # sslCertificateRef:
        instances: 1
        priorityClassName: system-cluster-critical
    storageClass:
      enabled: true
      name: ceph-bucket
      reclaimPolicy: Delete
      volumeBindingMode: "Immediate"
      # see https://github.com/rook/rook/blob/master/Documentation/Storage-Configuration/Object-Storage-RGW/ceph-object-bucket-claim.md#storageclass for available configuration
      parameters:
        # note: objectStoreNamespace and objectStoreName are configured by the chart
        region: eu-west-1
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "vault"
        cert-manager.io/private-key-algorithm: "RSA"
        cert-manager.io/private-key-size: "4096"
      host:
        name: s3.unicornafk.fr
        path: /
      tls:
        - secretName: s3.unicornafk.fr
          hosts:
            - s3.unicornafk.fr
      ingressClassName: ingress-internal
ingress:
  dashboard:
    annotations:
      cert-manager.io/cluster-issuer: "vault"
      cert-manager.io/private-key-algorithm: "RSA"
      cert-manager.io/private-key-size: "4096"
    host:
      name: ceph.unicornafk.fr
      path: /
    tls:
      - secretName: ceph.unicornafk.fr
        hosts:
          - ceph.unicornafk.fr
    ingressClassName: ingress-internal
monitoring:
  enabled: true