---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: &namespace authentik

resources:
  - manifests/01_external_secret.yaml
  - manifests/02_certificate.yaml
  - manifests/03_postgres.yaml
  - manifests/04_configmap.yaml
  - manifests/05_volsync.yaml

helmCharts:
- name: authentik
  releaseName: authentik
  namespace: *namespace
  repo: oci://ghcr.io/goauthentik/helm-charts
  version: 2025.6.1
  valuesFile: values.yaml
